.multiSelectionDropDown {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  padding-right: 50px;
  background-color: #fff;
  gap: 4px;
  min-height: 470px;
  max-height: 470px;
  min-width: 250px;
  width: fit-content;
  overflow-y: auto;
  box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, .1);
}