.menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.innerMenu {
  margin-left: 20px;
  width: fit-content;
}

.menu .item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.menu .item.lastItem {
  margin-left: calc(2px + 20px);
}

.toggleButton {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.label {
  cursor: pointer;
  user-select: none;
  padding-left: 4px;
  font-size: .9rem;
}

.menu .otherMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu .otherMenu.collapse {
  display: block;
}