.outerMenu {
  color: #fff;
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.innerMenu {
  margin-left: 20px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  margin: 20px;
  width: fit-content;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.label {
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
}